/* TAG PANEL */
panel#murmuration-comment-panel {
    -moz-border-radius: 5px;
    opacity: 0.8;
}

#murmuration-comment-panel #background {
    -moz-border-radius: 5px;
    background-color: black;
    opacity: 1.0;
    width: 100%;
}

#murmuration-comment-panel #comment-vbox {
    padding: 4px;
    opacity: 1.0;
}

#murmuration-comment-panel label {
    color: #eee;
}

/* MURMUR/SHARE PANEL */
panel#murmuration-share-panel {
    -moz-border-radius: 5px;
	background-color: transparent;
	-moz-appearance: none;
}

#murmuration-share-panel #background {
    -moz-border-radius: 5px;
    background-color: black;
    opacity: 0.8;
    width: 100%;
}

#murmuration-share-panel #murmur-vbox {
    padding: 4px;
    opacity: 1.0 !important;
	display: block;
}

#murmuration-share-panel #murmur-vbox vbox.user {
	-moz-box-align: center;
}

#murmuration-share-panel #murmur-vbox image {
    padding: 4px;
    opacity: 1.0 !important;
}

#murmuration-share-panel label {
    color: #eee;
}

