/*
 * Copyright 2009 by POTI Inc.
 *
 * This file is part of Murmuration.
 *
 * Murmuration is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation; either version 3 of the License, or (at your
 * option) any later version.
 *
 * Murmuration is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
 
body {
  margin: 0px;
  font-family: helvetica, arial; 
  color: white;
  background-color: #0d0d0b;
  background-image: url('/skin/pane-top.png');
  background-position: top left;
  background-repeat: repeat-x;
  overflow-x: hidden;
  overflow-y: auto;
}

h1 {
  margin-left: 10px;
  margin-bottom: 2px;
  font-size: 12px;
}

/** LOGGED OUT STATE **/
#logged-out-pane a {
  display: block;
  margin: 10px 40px 10px 40px;
  font-size: 15px;
  font-style: bold;
  padding: 2px 5px 2px 5px;
  -moz-border-radius:3px;
  color:white;
  background-color: #A9BF4F;
}
#logged-out-pane {
  text-align: center;
  padding-top:40px;
}
#logged-out-pane a:hover {
  background-color: #c5d488;
}


/** ONLINE USERS **/

#online-container {
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 0px;
  width: 100%;
}
#online-container img,
#activity-container div.avatar img {
  width: 24px;
  height: 24px;  
}


/** ACTIVITY **/

#activity-container {
  margin-top: 0px;
  padding-right: 10px;
  width: 100%;
}

.notification {
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  cursor: pointer;
  margin-bottom: 5px;
}

.notification:hover {
  text-decoration:underline;
}

.avatar {
  margin-right: 4px;
  float: left;
  cursor: pointer;
}

.avatar:hover {
  outline: 2px solid #161616;
}

.content {
  padding-left: 3px;
  padding-right: 3px;
}

.controls {
  float: right;
  top: 0;
  width: 12px;
  height: 8px;
  margin-left: 0px;
  visibility: hidden;
}

img.reply-icon {
  width: 12px !important;
  height: 12px !important;
}

.notification:hover .controls {
  margin-left: 14px;
  visibility: visible;
}

.reply {
	padding-left: 30px !important;
	width: 78%;
}

.share-track {
	background-color: #222;
	margin-top: 3px;
	padding-top: 5px;
}

div.action img.tag {
	min-height: 16px;
	min-width: 16px;
	background-position: -16px -16px;
	background-repeat: no-repeat;
	background-image: url(chrome://sb-lastfm/skin/button-tag.png);
	display: inline-block;
	float: left;
	margin-right: 4px;
}
div.action img.list {
	min-height: 16px;
	min-width: 16px;
	background-repeat: no-repeat;
	background-image: url(chrome://songbird/skin/service-pane/icon-playlist.png);
	display: inline-block;
	float: left;
	margin-right: 4px;
}
div.action img.rating {
	min-width: 70px;
	min-height: 18px;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url(chrome://songbird/skin/media-control-pane/button-faceplate-ratings.png);
}
div.action img.rating-0 { background-position:0px -18px; }
div.action img.rating-1 { background-position:0px -54px; }
div.action img.rating-2 { background-position:0px -90px; }
div.action img.rating-3 { background-position:0px -126px; }
div.action img.rating-4 { background-position:0px -162px; }
div.action img.rating-5 { background-position:0px -198px; }

/** FOOTER **/

#footer-container {
  position: fixed; 
  clear: both; 
  width: 100%; 
  bottom: 0; 
  border: 0; 
  padding-left: 10px; 
  height: 40px;  
  background-image: url('/skin/pane-bottom.png');
  background-position: bottom left;
  background-repeat: repeat-x;
}

#footer-container a {
  position: relative; 
  top: 14px;
  font-size: 10px;
  padding: 2px 5px 2px 5px;
  -moz-border-radius:3px;
  background-color: #4a4a4a;
}



/** HACKS **/

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0px;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
